form{
  display: flex;
  flex-direction: column;
  max-width: 500px;
 
}
textarea{
  border: 1px dotted blue;
  margin-top: 10px;
  resize: none;
  outline: none;
}
body{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
input{
  width: 250px;
}
input:focus{
  
  outline: purple;
}
button{
  margin-top: 10px;
  background-color: rgb(110, 110, 153);
  border-radius: 30px;
  color: aliceblue;
  padding: 1px;
  margin: 10px;

}

.modalbtn{
  margin-top: 10px;
  background-color: rgb(110, 110, 153);
  border-radius: 10px;
  color: aliceblue;
  width: 70px;

}
button:hover{
  border:  rgb(188, 188, 22);
background-color: #6eb637;
  
}
.form-card{
  max-width: 1000px;
  background-color: #e1d9d9;
  padding: 50px 70px;
  border-radius: 30px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
h1{
  text-align: center;
  color: rgb(153, 159, 164);
  font-size: 20px;
}

.dis{
  display: none;
}
button:hover + .dis{
  display: block;
}
.date{
  color: rgb(134, 133, 132);
}
.error{
  color: red;
}